* {
  background-color: lightblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0px; /*= no space between elements!*/
}

body {
  background-color: aquamarine;
  /*
  background-color: rgb (24, 132, 96);
  hex: background-color: #c96479;
  hsl
  by the name given bei VS Code
  */

  /*recommendation Gimena: headings always on top*/
}
h1,
h2 {
  text-align: center;
  margin: 10px /*top-bottom*/ 0px /*left-right*/; /*top-right-bottom-left*/
}

nav {
  background-color: green;
  height: 40px;
  margin: 10px;
  padding: 20px;
}

nav a {
  /*= all a-elements WITHIN nav */
  color: black;
  text-decoration: none;
}

img {
  width: 200px;
  border-radius: 50%; /*to make an image approx. round: 50%*/
  margin: 30px;
  border: 2px solid blue;
}

section {
  width: 200px;
  padding: 20px;
  margin: 10px;
}

/*to move item up/down: mark + alt + arrows*/

.section-blue {
  background-color: rgb(25, 45, 89);
  color: greenyellow;
  width: 500px;
  display: inline-block;
}

.green {
  background-color: green; /*targeted class stays green because green is the LAST styling to appear */
}

#section-red {
  background-color: red;
  color: peru;
  width: 200px;
  display: inline-block;
}
